<a href="<%= paypal_checkout_path(:domain_info => 1) %>">
  
  <img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" align="left" style="margin-right:7px;">
  <span style="font-size:11px; font-family: Arial, Verdana;">
    The safer, easier way to pay.
  </span>
</a>