<%= render :partial => "/shared/header", :locals => {:fix_top => "navbar-fixed-top"} %>

<div class="jumbotron">
  <div class="container">
    <h1>Discover new adventures</h1>
    <div id='form_new_link' class="form_cover">
      <%= render :partial => "/shortener/shortened_urls/shared/obj_form" %>
    </div>
  </div>
</div>