<!DOCTYPE html>
<html>
<head>
  <title>RoomoramaDevtest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="https://assets.roomorama-cache.com/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>
<body>

<%= yield %>

</body>
</html>
