<h1><%= @article.name %></h1>
<%= @article.content %>
<br/>
<% if current_user %>
cho phep comment
<% end %>
<p>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Browse Articles", articles_path %>
</p>
