  <div class='col-md-6'>
    <div class="container adversary_move" id='adversary'>
      <div class="row" id='adversary_status'>
      </div>
      <div class="row">
        <label>Game UUID</label>
        <span>
          <input name="game_uuid" type="text" value="<%= @game.name %>" readonly>
        </span>
      </div>
      <div class="row">
        <ul class="list-group" id="adversary_moves">
          
        </ul>
      </div>
    </div>

  </div>
